.hero {
  /* background-image: url('ruta/a/la/imagen.jpg'); */
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* color: #fff; */
}

.container {
  max-width: 800px;
  padding: 0 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
/*
.btn-get-started {
  background-color: #ff5e3a;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-get-started:hover {
  background-color: #d43d1a;
} */
